/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.icon-user{
  width: 100px;
  height: 100px;
}
.current-status{
  background-color: green !important;

}
.btn-status-inactive , .btn-status{
  background-color: white;
}
.round-image-50 img{
  width:40px;
  height:40px;
  border-radius: 50%;
  border:2px solid #fff;
  text-align: center;
  position: absolute;
  top: 15px;
  left:30px;
  }
  .user-image-50 img{
  width:40px;
  height:40px;
  border-radius: 50%;
  border:2px solid #fff;
  top: 15px;
  left:30px;
  }
  .icon-image-50{
  width:40px;
  height:40px;
  top: 15px;
  left:30px;
  padding-right: 10px;
  }
.user-email {
  
  position: absolute;
  top: 24px;
  left:80px;
  color: #CEEEB7;
}
.parent-links-create a{
  float:right;
}
.padding-left-10 {
  padding-left: 10px;
}

.hide{
  display:none;
}

.white{
  text-decoration: none;
  color:white!important;
}
.app-container{
  padding: 15px;
  padding-top: 0px;
}

.list-title{
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}
#availabilities-calendar{ 
    overflow-x:scroll;
    top: 0px;
  }
#availabilities-calendar .calendar {
    border-collapse: collapse;
    width: 100%;
    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      padding: 6px;
      border: 1px solid #114122;

    }

    th {
      background: #114122;
      color: #FFF;
      text-align: center;
      width: 14.2857142857143%;
    }

    td {
      transition: 0.5s;
      background: #FFF;
      color: #114122;
      height: 80px;
      width: 80px;
      vertical-align: top;
      .add-new{
        font-size: 20px;
        visibility:hidden;
        background:#FFF;
        color:#114122;
        float:right;
        padding: 3px 6px;
        cursor:pointer;
        border-radius:5px;
      }
    }

    td li {
      word-wrap: break-word;
      border-radius:5px;
      text-align:center;
      list-style:none;
      border: 1px solid #f2f2f2;
      background: #f2f2f2;
      margin-bottom: 5px;
      padding:5px;
     
    }

    td:hover{
      background: #114122;
      color: white;
      .add-new{
        visibility:visible;
      }
    }

    .notmonth, .notmonth a { color: #D5D5D5; }
    .today { background-color: #CEEEB7; }

    .hideable{
      display: none;
    }

    .expand {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      cursor:pointer
    }

    .link-details{
      display:block;
    }

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

  }

  #availabilities-calendar #month {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    color: #114122;
   
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #114122;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    a:hover{
      background: #114122;
      color: white;
      border: 1px solid transparent;
    }
  }

  #availabilities-calendar .calendar-day {
    max-height:80px;
    overflow-y:scroll; 
    .day{
      font-size: 10px;
      padding: 5px;
      text-align: center;
      font-weight: bold;
      cursor:pointer;

    }
    .day:hover{
      background-color:#CEEEB7; 
      color: #004827;
    }
  }

  .clear{
    clear:both;
  }

.main-menu > li > a,.brand-menu-white{
  color:white !important;

}
#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    max-width:500px;
    min-height:250px;
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}
